@media only screen and (min-width: 760px) {
  /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
  header h1 {
    padding: 10px 1px 1px 1px;
    margin-top: auto;
    margin-bottom: auto;
  }

  nav ul.flex-container {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
  }

  nav ul li a {
    font-size: 21px;
    border-bottom: none;
  }

  nav button {
    display: none;
  }
  /* hamburger button does not need to be shown */
  .allcontent {
    display: flex;
    flex-flow: row wrap;
  }

  .citypic {
    max-width: 330px;
  }

  .weathersum {
    margin-left: 3%;
  }

  .summary {
    float: right;
  }

  section.forecast {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 0 20px 0 20px;
    margin-bottom: 30px;
  }

  #tendayforecast {
    font-family: 'Archivo Black';
    font-size: 25px;
    background-color: #55aa55;
  }

  table {
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
    align-self: center;
    text-align: center;
  }

  table,
  td,
  th {
    border: 1px solid black;
    padding: 10px;
  }

  th {
    height: 50px;
    background-color: #88cc88;
  }

  td {
    height: 50px;
    background-color: #88cc88;
  }

  #cities {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 0 0px 0 0px;
  }
  .articlecontent {
    display: flex;
  }

  .articlepic {
    flex: 0 0 160px;
  }

  section#townDataInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .tDataInformation {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .gallery-grid {
    grid-template-columns: 1fr 1fr;
  }
}
