@media only screen and (min-width: 1200px) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
  body {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .weather:hover {
    box-shadow: 5px 5px 5px gray;
    border: 1px solid;
  }

  .weathersum {
    margin-left: 0%;
    max-width: 400px;
  }

  .weatherForecast {
    max-width: 350px;
    max-height: 150px;
    margin-left: 5%;
    text-align: center;
    padding: 50px 0 0 0;
  }

  .gallery-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

}
