@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
  main section.summary h3 {
    position: relative;
    width: 66%;
    left: 120px;
  }

  section.summary {
    position: relative;
    width: 100%;
    left: 120px;
  }

  section.forecast {
    position: relative;
    max-width: 33%;
    margin-left: 66%;
    margin-right: 5%;
    top: -260px;
  }

  article {
    position: relative;
    top: -150px;
  }

  footer {
    position: relative;
    top: -150px;
  }
}
