@media only screen and (min-width: 1150px) {

  body {
    min-width: 1150px;
    max-width: 1150px;
  }

  /*-----HEADER-----*/
  header h1 {
    font-size: 90px;
    margin-left: 45px;
  }

  header h2 {
    display: none;
  }

  /*-----NAVIGATION-----*/
  nav ul li a {
    font-size: 20px;
  }

  /*-----HOMEPAGE-----*/
  #takeAction {
    height: 486px;
    width: 355px;
    grid-template-columns: 2px 340px 2px;
    grid-auto-rows: 2px 104px 2px 60px 2px 96px 96px 2px 104px 2px;
    margin: 5px 9px 5px 5px;
  }

  #buttonR {
    grid-column: 2;
    grid-row: 2;
  }

  #hta {
    grid-column: 2;
    grid-row: 4;
    font-size: 25px;
  }

  #textR {
    grid-column: 2;
    grid-row: 6;
    font-size: 20px;
  }

  #textE {
    grid-column: 2;
    grid-row: 7;
    font-size: 20px;
  }

  #buttonE {
    grid-column: 2;
    grid-row: 9;
  }

  /*-----ADVENTURE-TOURS-CONTENT-----*/
  #takeActionA {
    height: 486px;
    width: 354px;
    grid-template-columns: 2px 168px 8px 168px 2px;
    grid-auto-rows: 32px 2px 168px 2px 32px 32px 168px 2px 32px 2px;
  }

  #htaA {
    grid-column: 2 / 6;
  }

  #guide3 {
    grid-column: 2;
    grid-row: 7;
  }

  #guide4 {
    grid-column: 4;
    grid-row: 7;
  }

  #guide3name {
    grid-column: 2;
    grid-row: 8;
  }

  #guide4name {
    grid-column: 4;
    grid-row: 8;
  }

}

/*-----EVENTS-CONTENT-----*/

/*-----SALES-CONTENT-----*/

/*-----SEVICE-CENTER-CONTENT-----*/

/*-----CONTACT-US-CONTENT-----*/

/*-----RESOURCES-CONTENT-----*/

/*-----VIDEO-CONTENT-----*/
