@media only screen and (min-width: 1150px) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
  body {
    min-width: 1150px;
    max-width: 1150px;
    max-height: 810px;
    margin-left: auto;
    margin-right: auto;
  }


  .gallery-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

}
