@media only screen and (min-width: 768px) {

  body {
    min-width: 768px;
    max-width: 768px;
    max-height: 1024px;
  }

  /*-----HEADER-----*/
  header {
    height: 140px;
  }

  header h1 {
    padding: 10px 1px 1px 40px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 60px;
  }

  /*-----NAVIGATION-----*/
  nav ul.flex-container {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
  }

  nav ul li a {
    font-size: 16px;
    border-bottom: none;
  }

  nav button {
    display: none;
  }

  /*-----HOMEPAGE-----*/
  #homepageContent {
    display: flex;
    flex-wrap: wrap;
  }

  #takeAction {
    height: 184px;
    grid-template-columns: 2px 104px 2px 500px 2px 104px 2px;
    grid-auto-rows: 50px 2px 50px 50px 2px;
  }

  #hta {
    font-size: 25px;
  }

  #buttonR {
    grid-row: 1;
  }

  #textR {
    font-size: 20px;
  }

  #textE {
    font-size: 20px;
  }

  #buttonE {
    grid-row: 2;
  }

  #bikeSales {
    height: 486px;
    width: 355px;
    grid-template-columns: 2px 340px 2px;
    grid-auto-rows: 2px 250px 2px 60px 2px 153px 2px;
  }

  #buttonB {
    grid-row: 2;
  }

  #hbs {
    grid-column: 2;
    grid-row: 4;
    font-size: 25px;
  }

  #textB {
    grid-column: 2;
    grid-row: 6;
    font-size: 20px;
  }

  #activities {
    height: 486px;
    width: 355px;
    margin-left: 9px;
    grid-template-columns: 2px 340px 2px;
    grid-auto-rows: 2px 250px 2px 60px 2px 153px 2px;
  }

  #buttonT {
    grid-row: 2;
  }

  #ha {
    grid-column: 2;
    grid-row: 4;
    font-size: 25px;
  }

  #textT {
    grid-column: 2;
    grid-row: 6;
    font-size: 20px;
  }

}
